<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Warehouse</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inventory</display-name>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>Inventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/Inventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemsServlet</display-name>
    <servlet-name>ItemsServlet</servlet-name>
    <servlet-class>ItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemsServlet</servlet-name>
    <url-pattern>/ItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new</display-name>
    <servlet-name>new</servlet-name>
    <servlet-class>Inventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayItems</display-name>
    <servlet-name>DisplayItems</servlet-name>
    <servlet-class>DisplayItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayItems</servlet-name>
    <url-pattern>/DisplayItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDBServlet</display-name>
    <servlet-name>StudentDBServlet</servlet-name>
    <servlet-class>StudentDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDBServlet</servlet-name>
    <url-pattern>/StudentDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lading</display-name>
    <servlet-name>Lading</servlet-name>
    <servlet-class>Lading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lading</servlet-name>
    <url-pattern>/Lading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LadingServlet</display-name>
    <servlet-name>LadingServlet</servlet-name>
    <servlet-class>LadingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LadingServlet</servlet-name>
    <url-pattern>/LadingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>E1</display-name>
    <servlet-name>E1</servlet-name>
    <servlet-class>E1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E1</servlet-name>
    <url-pattern>/E1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
</web-app>